@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");


body {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

    max-width: 55em;

    background-color: white;
    /* background-color: #84BCDA; */
    font-family: "Raleway", sans-serif;

    line-height: 1.5;
    padding: 5em;
    color: #555;

    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    flex-direction: column;
    justify-content: center;

    overflow-x: hidden;
    overflow-y: scroll;
}

div {
    /* background: #767775; */
    flex-basis: 100%;
    min-height: 100px;

}

@media (min-width: 600px) {
    main {
    flex-wrap: nowrap;
    }

    div {
    flex-basis: 50%;
    }
}


img {
    height: 100%;
    border-radius: 24px;
}

h1 {
    font-family: "Raleway", sans-serif;
    position: relative;
    text-align: center;
    font-weight: 900;
    margin-top: 0.75em;
    margin-bottom: 0.25em;
}

h4 {
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 1rem;
    margin: 0;
}


/* navigation bar */
.flex {
    display: flex;
    gap: var(--gap, 2rem);
}

.logo {
    height: 150px;
    overflow: hidden;
    margin: -20px 0 0 2em;
}

.primary-header {
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
    z-index: 9999; 
    width: 100%; 
    height: 5.5em; 
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}

.primary-header div {
    height: 5.5em; 
    margin-top: 0;
}

.primary-navigation {
    overflow: hidden;
    list-style: none;
    margin: 0;

}

/* remove toggle from desktop */
.mobile-nav-toggle {
    display: none;
}

@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background: hsl(0 0% 100% / 0.1) ;
        backdrop-filter: blur(1rem);
    }

}
/* text of navbar */
.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a:active,
.primary-navigation a:hover {
    color: orange;
}

/* assets styled for mobile view  */
/* media query */
@media (max-width: 420px) {
    .primary-navigation {
        --gap: 2em;

        top: 0; 
        left: 0; 
        right: 0;

        position: absolute;
        height: 100vh;
        right: 0px;
        z-index: 1000;
        inset: 0 0 0 50%;

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        background: rgba(102,153,204,50%);
        

        /* move 100% of own width from right + */
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible= "true"] {
        transform: translateX(0);
    }

    /* nav button */
    .mobile-nav-toggle {
        display: block;
        position: fixed;
        /* set on top layer  */
        z-index: 9999;
        background-color: transparent;
        background-image: url("assets/persimmon-logo.png");
        background-repeat: no-repeat;
        width: 1rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;

    }

    /* icon update w/ menu expanded */
    .mobile-nav-toggle[aria-expanded= "true"] {
        background-image: url();
    }

    .primary-navigation a {
        color: white;
    }

    .project-container  {
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    } 
}

/* fix off center project container */
@media (max-width: 420px) {
    .project-container {
        transform: translate(-2em, 0);
    }

}


h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1,h2,strong {
  color: #333;
}
  
a {
    color: #69c;
}

a:hover, a:active {
    color: orange;
}

pre {
    background: #f5f7f9;
    border-bottom: 1px solid #d8dee9;
    color: #a7adba;
}
  
pre {
    border-left: 2px solid #69c;
}

header h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 100;
}

/* intro */
.container {
    justify-content: center;
    padding: 1em 1em;
    padding-bottom: 0em;
    text-align: center;
}

.profile-pic {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.skills {
    padding: 5vh;
    /* display: flex; */
}


/* projects section */
/* uses display: grid since 2 items w/ 2 rows */

.project-container  {
    position: relative;
    /* 1st value = top/bot 2nd value = left/right */
    /* Center the container in middle on horizontal axis */
    margin: 0 auto;
/* 
     */
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 400px;

    column-gap: 2rem;
    row-gap: 2rem;
    padding-bottom: 1.5rem;
   
    justify-items: stretch;

}

.card {
    position: relative;
    display: flex;
    align-items: center;

    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    background: #f2f2f2;
    overflow: hidden;
    border-radius: 25px;

    border: 1px solid #555;
    cursor: pointer;
    box-shadow: 12px 12px 0px 1px rgba(102,153,204,50%);
}

.card-img {
    object-fit: cover;
    display: flex; 
    object-position: right top;

}

.tag-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    column-gap: 5px;
    row-gap: 5px;

    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    padding: 1em;
    padding-bottom: 0;

}

.card-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Style button element */
button {
    border: none;
    padding: 12px 12px;
    border-radius: 10px;
  
    font-family: "Raleway", sans-serif;
    font-weight: 600;

    color: #555;
    background-color: #e0efff;
  
    /* Button is inline-block element by default, it need to have block display for margin: 0 auto; to work */
    margin: 0 auto;
    display: block;
    font-size: 1rem;

    /* Button is a clickable element, therefore it should have a pointer cursor */
    cursor: pointer;
}

/* Add style when button is focused or hovered */
button:focus,
button:hover {
  background-color: orange;
  color: white;
}
.github-button {
    border-radius: 50%;
    transition: 1s;
}

.github-button:focus,
.github-button:hover {
    cursor: pointer;
    box-shadow: 0 0.5em 0.5em -0.4em orange;
    transform: translateY(-0.25em);
    color: orange;
} 


.content {
  position: absolute;
  top: 70%;
  /* transform: translatey(-50%); */
  text-align: justify;
  background: url("https://pbs.twimg.com/profile_images/1347260174176710658/2GfSZ1i__400x400.jpg") white;
  padding: 1em;
  padding-top: 0;
  background-repeat: no-repeat;
  transition: 1s;
}

.head h2 {
    text-align: center;
    padding-top: 20px;
    margin: 0;
    
}

.head h4 {
    margin: 0;
    padding-bottom: 15px;
    font-weight: 500;
}

.tag {
    padding: 4px 2px;
    border: 1px solid #e5eaed;

    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #788697;
}

.project-container p {
    text-align: left;
}

.content a {
    align-items: right;
}

.card:hover .content {
  transform: translatey(-400px);
  cursor: pointer;
}

.gallery {
    display: flex;
    border-radius: 50%;
    gap: 3em;
    padding: 1em;
    padding-bottom: 2em;

    align-items: center;
    justify-content: center;
}

@media (max-width: 420px) {
    .gallery {
        flex-direction: column;
    }
}

.art-img {
    display: flex; 
    height: 300px;
    width: 250px;
    object-fit: cover;
    overflow: hidden;
    object-position: top;
    border-radius: 50%;

    background: #f2f2f2;
    overflow: hidden;

    border: 1px solid #555;
    box-shadow: 12px 12px 0px 1px rgba(102,153,204,50%);

    opacity: 1;
    transition: .5s ease;
}

.ivy {
    object-position: -20px 10px;
    background-color: black;

}
.circ-text {
    position: relative;
    top: 70%;
    text-align: justify;
}
.circle:focus, 
.circle:hover  {
    opacity: 0.3;
}

.contact {
    height: 10vh;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    
}   

.email:focus, .email:hover,
.git2:focus, .git2:hover,
.linked-in:focus, .linked-in:hover {
    box-shadow: 0 0.5em 0.5em -0.4em orange;
    transform: translateY(-0.25em);
    cursor: pointer;
    border-radius: 50%;
    color: orange;
    transition: 0.1s;
}
